/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.header {	
	font-family: "Lato", "Sans Open", sans-serif ;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	background-size: cover;
	height: 3.906vw;
	font-weight: bold;
	font-size: 2.125vw;
	padding: 3%;
	box-shadow: 0 0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 0.234vw 0.781vw rgba(0, 0, 0, 0.19),
		0 -0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 -0.234vw 0.781vw rgba(0, 0, 0, 0.19);
	z-index: 2;
}
.logo {
	width: 50%; 
	margin-top: -2.5vw; 
	margin-left: 0vw;
}
.link {
	font-family: "Lato", sans-serif;
	color: #515151;
	font-size: 1.246vw;
	font-weight: normal;
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 1.172vw;
	padding-right: 1.172vw;
	padding-bottom: 1.172vw;
	padding-top: 0.781vw;
	display: inline;
	float: right;
}
.link:hover {
	background-color: #f6f6f6;
}
.navigation { 	
	padding-left: 60%;
	font-weight: normal;
	font-size: 1.563vw;
}
.nav {
	padding: 1%;
	height: 3vw;
	display: none;
	position: sticky;
	position: -webkit-sticky;
	top: 9.9vw;
	background-color: #f6f6f6;
	box-shadow: 0 0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 0.234vw 0.781vw rgba(0, 0, 0, 0.19);
	z-index: 1;
}
.nav a {
	font-family: "Lato", sans-serif;
	color: #515151;
	font-size: 1.246vw;
	font-weight: normal;
	margin: 0;
	padding: 0;
	list-style-type: none;
	padding-left: 1.172vw;
	padding-right: 1.172vw;
	padding-bottom: 1.172vw;
	padding-top: 0.781vw;
	display: inline;
	float: right;
}
.nav a:hover {
	background-color: #ddd;
}
.banner { 
	height: 29.2vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.intro {
	background-color: #f6f6f6;
	height: 15.969vw;
	padding-left: 10%;
	margin-bottom: 1%;
	box-shadow: 0 0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 0.234vw 0.781vw rgba(0, 0, 0, 0.19),
		0 -0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 -0.234vw 0.781vw rgba(0, 0, 0, 0.19);
}
.body {
	padding: 10%;
	margin-bottom: 15%;
	background-color: white;
	height: 19.531vw;
	padding-top: 1.14vw;
}
.text {
	font-family: "Droid Sans", "Open Sans", sans-serif;
	color: #515151;
	max-width: 78.125vw;
	line-height: 175%;
	font-size: 1.354vw;
	text-align: left;
	padding-top: 5%;
	text-indent: 1em;
}
.index_text {
	font-family: "Droid Sans", "Open Sans", sans-serif;
	color: #515151;
	line-height: 175%;
	font-size: 1.354vw;
	max-width: 36.0625vw;
	text-align: left;
	padding-top: 7%;
}
.hist_text {
	font-family: "Droid Sans", "Open Sans", sans-serif;
	color: #515151;
	line-height: 175%;
	font-size: 1.146vw;
	text-align: left;
	padding-top: 7%;
}
.hist_right {
	max-width: 35.156vw;
	margin-bottom: 3.563vw;
	height: 28.125vw;
	padding-left: 50%;
}
.hist_image_r {
	float: right;
	margin-right: -35.156vw;
	margin-top: 1.563vw;
	max-width: 19.3vw;
	height: auto;
}
.hist_left {
	max-width: 35.156vw;
	margin-bottom: 3.563vw;
	height: 28.125vw;
	padding-left: 5%;
}
.hist_image_l {
	float:left;
	margin-left: -35.156vw;
	margin-top: 1.563vw;
	max-width: 19.3vw;
	height: auto;
}
.index_image {max-width: 22vw;}
.show_image {max-width: 22vw;}
.gal_image {max-width: 13vw;}
.gen_image {max-width: 16vw;}
img {	
	aspect-ratio: auto 300 / 400;
	border-style: none;
	height: auto;
	padding: 0.391vw;
	object-fit: cover;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#profile {
	border-color: #f6f6f6;
	border-radius: 1000px;
	float: left;
	margin-top: -0.391vw;
	margin-left: -35.156vw;
}
#main_title {	
	font-family: "Droid Sans", sans-serif;
	font-size: 2.083vw;
	text-align: left;
	padding-top: 0vw;
	max-width: 36.0625vw;
}
#title {	
	font-family: "Droid Sans", sans-serif;
	font-size: 2.083vw;
	text-align: left;
	padding-top: 1.906vw;
	background: rgba(0, 0, 0, 0);
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#index_intro {
	background-color: #f6f6f6;
	height: 28.125vw;
	padding-left: 47%;
	padding-top: 5%;
	margin-bottom: 1%;
	box-shadow: 0 0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 0.234vw 0.781vw rgba(0, 0, 0, 0.19),
		0 -0.156vw 0.313vw rgba(0, 0, 0, 0.2), 0 -0.234vw 0.781vw rgba(0, 0, 0, 0.19);
}
#index_icon {
	width: 50%; 
	position: absolute;}
#show_icon {
	width: 50%; 
	position: absolute;}
#big_image {
	background-color: white;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#gen_image {
	background-color: white;
	display: flex;
	align-items: stretch;
	justify-content: center;
	flex-wrap: wrap;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#gal_icon {
	width: 43%;
	position: absolute;}
#anim_intro {
	height: 23.156vw;
}
#anim_icon {
	width: 40%;
	position: absolute;}
#wfc_intro {
	height: 30.250vw;
}
#wfc_icon {
	width: 40%;
	position: absolute;}
#rid_intro {
	height: 20.094vw;
}
#rid_icon {
	width: 50%;
	position: absolute;}
#hist_icon {
	width: 40%; 
	position: absolute;}
#bannervideo {
  width: 100%;
  height: 29vw;
  object-fit: cover;
  position: relative;
  display: inline;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
@font-face{
	font-family: Bebas;
	src: url('Bebas-Regular.ttf') format('truetype'), url('Bebas-Regular.eot') format('eot'), url('Bebas-Regular.otf') format('otf'), url('Bebas-Regular.woff') format('woff'),
	url('Bebas-Regular.svg') format('svg');
}
@media only screen and (max-width: 1600px) {}
@media only screen and (max-width: 1063px) {
	.text {font-size: 1.354vw;}
	.index_text {font-size: 1.3vw;}
	.hist_text {font-size: 1.3vw;}
	.hist_left {height: auto;}
	.hist_right {height: auto;}
	.intro {height: 14.969vw;}
	.header {font-size: 2.425vw;}
	a {font-size: 1.346vw;}
}
@media only screen and (max-width: 768px) {
	.text {font-size: 1.854vw;}
	.index_text {font-size: 1.7vw; max-width: 50.125vw;}
	.intro {height: 21.969vw;}
	.hist_text {font-size: 1.7vw;}
	.hist_left { height: auto;
		padding-bottom: 1vw;}
	.hist_right {height: auto;
		padding-bottom: 1vw;}
	.intro {height: 20.969vw;}
	.index_intro {height: 79.156vw;}
	.header {font-size: 2.825vw;}
	.link {font-size: 1.746vw;}
	.nav a {font-size: 1.746vw;}
	#main_title {font-size: 2.5vw;
		max-width: 50.125vw;}
	#title {font-size: 3.083vw;}
	#anim_intro {height: 38.156vw;}
	#wfc_intro {height: 47.250vw;}
	#rid_intro {height: 32.094vw;}
	#hist_intro {height: 22.094vw;}
} 
@media only screen and (max-width: 486px) {
	.text {font-size: 2.854vw;}
	.index_text {font-size: 2.854vw;
		max-width: 75.125vw;}
	.hist_text {font-size: 2.554vw;}
	.hist_left {margin-right: -36vw; 
		max-width: 75.125vw; 
		height: auto;
		padding-bottom: 3vw;}
	.hist_right {margin-left: -36vw; 
		max-width: 75.125vw; 
		height: auto;
		padding-bottom: 3vw;}
	.intro {height: 38.969vw;}
	.header {font-size: 3.225vw;}
	.nav {height: 6vw; padding-top: 2vw;}
	.hist_image_l {display: none;}
	.hist_image_r {display: none;}
	.link {font-size: 2.946vw; float: left;}
	.header {height: 16.906vw;}
	.nav a {font-size: 2.946vw; margin-right: 2vw;}
	.nav {height: 11vw; padding-top: 2.5vw; top: 8vw; text-align: center; padding-right: 1vw;}
	.logo {float: left; width: 90%; margin-left: -3vw; padding-bottom: 0vw; margin-top: -2vw;}
	#main_title {font-size: 3.083vw;
		max-width: 75.125vw;}
	#title {font-size: 3.283vw;}
	#index_intro {height: 42.156vw;
		margin-left: -35vw;}
	#anim_intro {height: 74.156vw;}
	#wfc_intro {height: 100.250vw;}
	#rid_intro {height: 63.094vw;}
	#hist_intro {height: 39.094vw;}
	#profile {display: none;}
	#bannervideo {height: 42.2vw;}
}
@media only screen and (max-width: 414px) {
	.text {font-size: 2.899vw;}
	.index_text {font-size: 2.899vw;}
	.hist_text {font-size: 2.899vw;}
	.link{display: block; font-size: 4vw; padding-bottom: 2vw;}
	.nav a {float: left; font-size: 4vw; padding-bottom: 2vw;}
	.header {height: 16.906vw;}
	.nav {height: 26vw; padding-top: 2vw; padding-bottom: 3vw; top: 23vw; text-align: center; padding-left: 3vw; padding-right: 15vw;}
	.logo {width: 90%; margin-top: -2vw;}
	#main_title {font-size: 3.583vw;}
	#title {font-size: 3.583vw;}
	#index_intro {height: 49.156vw;}
	#anim_intro {height: 76.156vw;}
	#wfc_intro {height: 105.250vw;}
	#rid_intro {height: 64.094vw;}
	#hist_intro {height: 39.094vw;}
	#index_icon {width: 70%;}
	#hist_icon {width: 55%;}
	#gal_icon {width: 55%;}
	#show_icon {width: 70%;}
	#wfc_icon {width: 45%;}
	#rid_icon {width: 55%;}
}
@media only screen and (max-width: 390px) {
	.text {font-size: 3.343vw;}
	.indextext {font-size: 3.343vw;}
	.histtext {font-size: 3.343vw;}
	.header {font-size: 3.9vw;
		height: 16.906vw;}
	.indexintro {height: 55.156vw;}
	.intro {height: 49.969vw;}
	.link{ padding-top: 1vw;}
	.nav a {font-size: 4vw; float: left;}
	#main_title {font-size: 3.983vw;}
	#title {font-size: 3.983vw;}
	#anim_intro {height: 103.156vw;}
	#wfc_intro {height: 132.250vw;}
	#rid_intro {height: 84.094vw;}
	#hist_intro {height: 50.094vw;}
}
@media only screen and (max-width: 360px) {}

