.header {	
	font-family: "Lato", "Sans Open", sans-serif ;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background-color: white;
	background-size: cover;
	height: 3.906vw;
	font-weight: bold;
	font-size: 2.125vw;
	padding: 3%;
	box-shadow: 0px 2px 2px #e8e8e8;
}
.banner { 	
	background-size: cover;
	color: white; 
	font-family: "Bebas", "Sans Open", sans-serif;
	font-weight: bold;
	font-size: 6.875vw;
}
.navigation { 	
	padding-left: 60%;
	font-weight: normal;
	font-size: 1.563vw;
}
.dropdown {
	position: relative;
	display: inline-block;
	float: right;
}
.dropdown-content {
	position: absolute;
	margin-left: -0.781vw;
	margin-top: 3.516vw;
	background-color: #f6f6f6;
	min-width: 8.984vw;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
	z-index: 1;
	display: none;
}
.dropdown-content a {
	display: block;
	width: 8.984vw;
}
.dropdown-content a:hover {
	background-color: #ddd;
}
.dropdown:hover .dropdown-content {
	display: block;
	text-align: left;
}
.indexintro {
	background-color: #f6f6f6;
	height: 28.125vw;
	padding-left: 47%;
	padding-top: 5%;
}
.intro {
	background-color: #f6f6f6;
	height: 15.969vw;
	padding-left: 10%;
}
.body {
	padding: 10%;
	margin-bottom: 10%;
	background-color: white;
	height: 19.531vw;
	padding-top: 0.214vw;	
}
.histright {
	max-width: 35.156vw;
	margin-bottom: 3.563vw;
	height: 28.125vw;
	padding-left: 50%;
}
.histleft {
	max-width: 35.156vw;
	margin-bottom: 3.563vw;
	height: 28.125vw;
	padding-left: 5%;
}
.indextext {
	font-family: "Droid Sans", "Sans Open", sans-serif;
	color: #515151;
	line-height: 175%;
	font-size: 1.354vw;
	max-width: 36.0625vw;
	text-align: left;
	padding-top: 7%;
}
.histtext {
	font-family: "Droid Sans", "Sans Open", sans-serif;
	color: #515151;
	line-height: 175%;
	font-size: 1.146vw;
	text-align: left;
	padding-top: 7%;
}
.text {
	font-family: "Droid Sans", "Sans Open", sans-serif;
	color: #515151;
	max-width: 78.125vw;
	line-height: 175%;
	font-size: 1.354vw;
	text-align: left;
	padding-top: 5%;
	text-indent: 1em;
}
.indeximage {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2.734vw;
	max-width: 28.55vw;
	height: auto;
}
.showcaseimage {
	margin-left: auto;
	margin-right: auto;
	max-width: 20.55vw;
	height: auto;
}
.ridimage {
	margin-left: auto;
	margin-right: auto;
	max-width: 15.625vw;
	height: auto;
}
.rid {
	background-color: white;
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
.galimage {
	margin-left: auto;
	margin-right: auto;
	max-width: 8.285vw;
	height: auto;
}
.histimageleft {
	float:left;
	margin-left: -35.156vw;
	margin-top: 1.563vw;
	max-width: 19.3vw;
	height: auto;
}
.histimageright {
	float: right;
	margin-right: -35.156vw;
	margin-top: 1.563vw;
	max-width: 19.3vw;
	height: auto;
}
img {	
	aspect-ratio: auto 300 / 400;
	border-style: solid;
	border-color: white;
	border-radius: 15px;
	padding: 0.391vw;
	object-fit: cover;	
}
a {
	font-family: "Lato", sans-serif;
	color: #515151;
	font-size: 1.146vw;
	font-weight: normal;
	margin: 0;
	padding: 0;
	display: inline;
	float: right;
	padding-left: 1.172vw;
	padding-right: 1.172vw;
	padding-bottom: 1.172vw;
	padding-top: 0.781vw;
	list-style-type: none;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	background-color: #f6f6f6;
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
#indexa{
	color: black;
	font-weight: bold;
	margin-left: -1.172vw;
	font-size: 100%;
	float: none;
}
#indexa:hover{
	background-color: white;
}
#maintitle {	
	font-family: "Droid Sans", sans-serif;
	font-size: 2.083vw;
	text-align: left;
	padding-top: 0vw;
	max-width: 36.0625vw;
}
#title {	
	font-family: "Droid Sans", sans-serif;
	font-size: 2.083vw;
	text-align: left;
	padding-top: 3.906vw;
}
#index {
	background-image: url('https://ik.imagekit.io/theperfectpixl/Skids2Guns.webp');
	background-position: 100% 35%;
	line-height: 23.438vw; 
	height: 35.156vw; 
	padding-left: 3%;
}
#showcase {
	background-image: url('https://ik.imagekit.io/theperfectpixl/VectorSword.webp');
	background-position: 100% 21%;
	line-height: 50.781vw; 
	height: 35.156vw; 
	padding-left: 3%;
}
#gallery {
	background-image: url('https://ik.imagekit.io/theperfectpixl/SkywarpLib.webp');
	background-position: 100% 60%;
	line-height: 50.781vw; 
	height: 35.156vw; 
	padding-left: 70%;
}
#animated {
	background-color: white;
	display: block;
	width: 50%;
	margin-top: 1.563vw;
	margin-left: auto;
	margin-right: auto;
}
#wfc {
	background-color: white;
	display: block;
	width: 90%;
	margin-top: 1.563vw;
	margin-left: auto;
	margin-right: auto;
}
#rid {
	background-color: white;
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}
#history {
	background-image: url('https://ik.imagekit.io/theperfectpixl/ThundersShoot.webp');
	background-position: 100% 25%;
	line-height: 15.625vw; 
	height: 35.156vw; 
	padding-left: 75%;
}
#introanim {
	height: 23.156vw;
}
#introwfc {
	height: 30.250vw;
}
#introrid {
	height: 20.094vw;
}
#profile {
	border-color: #f6f6f6;
	border-radius: 1000px;
	float: left;
	margin-top: -0.391vw;
	margin-left: -35.156vw;
}
@media only screen and (max-width: 1063px) {
	.text {font-size: 1.354vw;}
	.indextext {font-size: 1.3vw;}
	.histtext {font-size: 1.3vw;}
	.histleft {height: auto;}
	.histright {height: auto;}
	.intro {height: 14.969vw;}
	.ridimage {max-width: 14.285vw;}
	.galimage {max-width: 8.174vw;}
	.header {font-size: 2.425vw;}
	.dropdown-content {margin-left: -.141vw;}
	.dropdown-content a {width: 8.984vw;}
	a {font-size: 1.346vw;}
}
@media only screen and (max-width: 768px) {
	.text {font-size: 1.854vw;}
	.indextext {font-size: 1.7vw;}
	.intro {height: 21.969vw;}
	.histtext {font-size: 1.7vw;}
	.histleft { 
		height: auto;
		padding-bottom: 1vw;}
	.histright {
		height: auto;
		padding-bottom: 1vw;}
	.intro {height: 20.969vw;}
	.indexintro {height: 39.156vw;}
	.ridimage {max-width: 14.285vw;}
	.galimage {max-width: 7.574vw;}
	.header {font-size: 2.825vw;}
	.dropdown-content {margin-top: 3.916vw;}
	.dropdown-content a {width: 11.984vw;}
	a {font-size: 1.746vw;}
	#maintitle {font-size: 3.083vw;
			max-width: 40.125vw;}
	#title {font-size: 3.083vw;}
	#introanim {height: 38.156vw;}
	#introwfc {height: 47.250vw;}
	#introrid {height: 32.094vw;}
	#introhist {height: 22.094vw;}
	#profile {max-width: 30vw;}
} 
@media only screen and (max-width: 486px) {
	.text {font-size: 2.854vw;}
	.indextext {font-size: 2.554vw;
		max-width: 75.125vw;}
	.histtext {font-size: 2.554vw;}
	.histleft {margin-right: -36vw; 
		max-width: 75.125vw; 
		height: auto;
		padding-bottom: 3vw;}
	.histright {margin-left: -36vw; 
		max-width: 75.125vw; 
		height: auto;
		padding-bottom: 3vw;}
	.intro {height: 38.969vw;}
	.indexintro {height: 40.156vw;
		margin-left: -35vw;}
	.ridimage {max-width: 14vw;}
	.galimage {max-width: 8.5vw;}
	.indeximage {max-width: 22.45vw;}
	.header {font-size: 3.225vw;}
	.showcaseimage {max-width: 19.55vw;}
	.histimageleft {display: none;}
	.histimageright {display: none;}
	.dropdown-content {margin-top: 5.216vw;}
	.dropdown-content a {width: 16.984vw;}
	a {font-size: 2.546vw;}
	#maintitle {font-size: 3.083vw;
			max-width: 75.125vw;}
	#title {font-size: 3.083vw;}
	#introanim {height: 74.156vw;}
	#introwfc {height: 100.250vw;}
	#introrid {height: 63.094vw;}
	#introhist {height: 39.094vw;}
	#profile {display: none;}
}
@media only screen and (max-width: 414px) {
	.ridimage {max-width: 13.8vw;}
	.galimage {max-width: 10.4vw;}
	.indeximage {max-width: 22.45vw;}
	.showcaseimage {max-width: 19.55vw;}
	.dropdown-content{min-width: 19.584vw;}
	.dropdown-content a {width: 19.584vw;}
}

