.header {	
			font-family: "Lato", sans-serif ;
			position: -webkit-sticky;
			position: sticky;
			top: 0;
			background-color: white;
			background-size: cover;
			height: 3.906vw;
			font-weight: bold;
			font-size: 2.125vw;
			padding: 3%;
			box-shadow: 0px 2px 2px #e8e8e8;
}
.banner { 	
			background-size: cover;
			color: white; 
			font-family: "Bebas", sans-serif;
			font-weight: bold;
			font-size: 6.875vw;
}
.navigation { 	
			padding-left: 60%;
			font-weight: normal;
			font-size: 1.563vw;
}
.dropdown {
			position: relative;
			display: inline-block;
			float: right;
}
.dropdown-content {
			position: absolute;
			margin-left: -0.781vw;
			margin-top: 3.516vw;
			background-color: #f6f6f6;
			min-width: 8.984vw;
			box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.2);
			z-index: 1;
			display: none;
}
.dropdown-content a {
			display: block;
			width: 8.984vw;
}
.dropdown-content a:hover {
			background-color: #ddd;
}
.dropdown:hover .dropdown-content {
			display: block;
			text-align: left;
}
.indexintro {
			background-color: #f6f6f6;
			height: 28.125vw;
			padding-left: 47%;
			padding-top: 5%;
}
.intro {
			background-color: #f6f6f6;
			height: 17.969vw;
			padding-left: 10%;
}
.body {
			padding: 10%;
			margin-bottom: 10%;
			background-color: white;
			height: 19.531vw;
			padding-top: 0.214vw;
			
}
.histright {
			max-width: 35.156vw;
			height: 28.125vw;
			padding-left: 50%;
}
.histleft {
			max-width: 35.156vw;
			height: 28.125vw;
			padding-left: 5%;
			
}
.indextext {
			font-family: "Droid Sans", sans-serif;
			color: #515151;
			line-height: 175%;
			font-size: 1.354vw;
			text-align: left;
			padding-top: 7%;
}
.histtext {
			font-family: "Droid Sans", sans-serif;
			color: #515151;
			line-height: 175%;
			font-size: 1.146vw;
			text-align: left;
			padding-top: 7%;
}
.text {
			font-family: "Droid Sans", sans-serif;
			color: #515151;
			max-width: 78.125vw;
			line-height: 175%;
			font-size: 1.354vw;
			text-align: left;
			padding-top: 5%;
			text-indent: 1em;
}
.indeximage {
			margin-left: auto;
			margin-right: auto;
			margin-top: 2.734vw;
			max-width: 29.72%;
}
.showcaseimage {
			margin-left: auto;
			margin-right: auto;
			max-width: 29.725%;
}
.ridimage {
			margin-left: auto;
			margin-right: auto;
			max-width: 22.6%;
}
.galimage {
			margin-left: auto;
			margin-right: auto;
			max-width: 12%;
}
.histimageleft {
			float:left;
			margin-left: -35.156vw;
			margin-top: 1.563vw;
			max-width: 55%;
}
.histimageright {
			float: right;
			margin-right: -35.156vw;
			margin-top: 1.563vw;
			max-width: 55%;
}
img {			
			border-style: solid;
			border-color: white;
			border-radius: 15px;
			padding: 0.391vw;
			object-fit: cover;	
}
a {
			font-family: "Lato", sans-serif;
			color: #515151;
			font-size: 1.146vw;
			font-weight: normal;
			margin: 0;
			padding: 0;
			display: inline;
			float: right;
			padding-left: 1.172vw;
			padding-right: 1.172vw;
			padding-bottom: 1.172vw;
			padding-top: 0.781vw;
			list-style-type: none;
}
a:link {
			text-decoration: none;
}
a:visited {
			text-decoration: none;
}
a:hover {
			background-color: #f6f6f6;
			text-decoration: none;
}
a:active {
			text-decoration: none;
}
#indexa{
			color: black;
			font-weight: bold;
			margin-left: -1.172vw;
			font-size: 100%;
			float: none;
}
#indexa:hover{
			background-color: white;
}
#title {	
			font-family: "Droid Sans", sans-serif;
			font-size: 2.083vw;
			text-align: left;
			padding-top: 3.906vw;
}
#histtitle {	
			font-family: "Droid Sans", sans-serif;
			font-size: 2.083vw;
			text-align: left;
			padding-top: 3.906vw;
}
#index {
			background-image: url('images/Skids2Guns.jpg');
			background-position: 100% 35%;
			line-height: 23.438vw; 
			height: 35.156vw; 
			padding-left: 3%;
}
#showcase {
			background-image: url('images/VectorSword.jpg');
			background-position: 100% 21%;
			line-height: 50.781vw; 
			height: 35.156vw; 
			padding-left: 3%;
}
#gallery {
			background-image: url('images/SkywarpLib.jpg');
			background-position: 100% 60%;
			line-height: 50.781vw; 
			height: 35.156vw; 
			padding-left: 70%;
}
#animated {
			background-color: white;
			display: block;
			width: 50%;
			margin-top: 1.563vw;
			margin-left: auto;
			margin-right: auto;
}
#wfc {
			background-color: white;
			display: block;
			width: 90%;
			margin-top: 1.563vw;
			margin-left: auto;
			margin-right: auto;
}
#rid {
			background-color: white;
			display: block;
			width: 70%;
			margin-left: auto;
			margin-right: auto;
}
#history {
			background-image: url('images/ThundersShoot.jpg');
			background-position: 100% 25%;
			line-height: 15.625vw; 
			height: 35.156vw; 
			padding-left: 75%;
}
#introanim {
			height: 35.156vw;
}
#introwfc {
			height: 31.250vw;
}
#introrid {
			height: 21.094vw;
}
#profile {
			border-color: #f6f6f6;
			border-radius: 1000px;
			float: left;
			max-width: 45%;
			margin-top: -0.391vw;
			margin-left: -35.156vw;
}
