/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
html,
body {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
ol,
ul {
  padding-left: 2em;
}
img {
  aspect-ratio: auto 300 / 400;
  border-style: none;
  height: auto;
  margin: 0.3vw;
  object-fit: cover;
  box-shadow:
    0 0.15vw 0.3vw rgba(0, 0, 0, 0.2),
    0 0.25vw 0.8vw rgba(0, 0, 0, 0.2);
}
a {
  outline: none;
}
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}
.banner {
  height: 15vw;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.icon {
  height: 8vw;
  position: absolute;
  box-shadow: 0 0 0;
}
.banner-bg {
  background-image: linear-gradient(70deg, rgb(174, 0, 255) 50%, rgb(255, 0, 0) 50%);
  animation: slide 2s ease-in-out infinite alternate;
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 10vw;
  z-index: -1;
  height: 50vh;
}
.banner-bg-2 {
  animation-direction: alternate-reverse;
  animation-duration: 3s;
}
.banner-bg-3 {
  animation-duration: 4s;
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
.logo {
  box-shadow: 0 0 0;
}
.intro {
  background-color: #f6f6f6;
  height: auto;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0 0.15vw 0.3vw rgba(0, 0, 0, 0.2),
    0 0.25vw 0.8vw rgba(0, 0, 0, 0.2),
    0 -0.15vw 0.3vw rgba(0, 0, 0, 0.2),
    0 -0.25vw 0.8vw rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.content-body {
  background-color: white;
  width: 100%;
  height: auto;
  flex: 1;
}
.text {
  font-family: 'Droid Sans', 'Open Sans', sans-serif;
  color: #515151;
  max-width: 80vw;
  line-height: 175%;
  font-size: 1em;
  text-align: left;
  text-indent: 1em;
}
.images-wrapper {
  background-color: white;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% auto 5% auto;
  width: 100%;
}
.background {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  z-index: 3;
  height: 90vh;
  border-radius: 5px;
  width: auto;
}
.search-enter-active,
.search-leave-active {
  transition: max-width 0.5s ease-in-out;
}
.search-enter-from,
.search-leave-to {
  max-width: 0%;
}
.search-enter-to,
.search-leave-from {
  max-width: 100%;
}
.lightbox-enter-active,
.lightbox-leave-active {
  transition: opacity 0.75s ease-in-out;
}
.lightbox-enter-from,
.lightbox-leave-to {
  opacity: 0%;
}
.lightbox-enter-to,
.lightbox-leave-from {
  opacity: 100%;
}
@media screen and (min-width: 1600px) {
  .logo {
    width: 90%;
  }
}
@media screen and (max-width: 1000px) {
  .selected {
    height: 80vh;
  }
}
@media screen and (max-width: 786px) {
  .selected {
    width: 85vw;
    height: auto;
  }
}
@media screen and (max-width: 486px) {
  .banner-bg {
    top: 25vw;
  }
}
@media screen and (max-width: 414px) {
  .banner {
    height: 25vw;
  }
  .icon {
    height: 12vw;
  }
}
@media screen and (max-width: 390px) {
  .text {
    font-size: 0.8em;
  }
}
